.App {
  text-align: center;
}

.nav{
  min-height:10vh;
  width: 100%;
  background: darkblue;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item{
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}